body {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.row {
    display: flex;
    max-width: 750px;
    padding: 10px;
    overflow: auto;
}

.popup-header {
    display: inline-block;
}

.popup-header > h4 {
    display: inline;
}

.popup-header > h5 {
    display: inline;
    margin-left: 4em;
}
